.App {
  text-align: center;
}

ul{
  list-style: none;
}

li.checked {
  text-decoration: line-through;
}

li span{
  visibility: hidden;
  cursor: pointer;
  color: red;
}

li:hover span{
  visibility: visible;
}